* {
    margin: 0;
    padding: 0;
}

html {
    background: #f6faff;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

html, body {
    height: 100%;
}




/*HEADER section*/
header {
    background: blue;
    text-align: center;
    display: flex;
    flex-direction: row;
    height: 3rem;
}

.header_company_name {
    margin: auto 0;
    width: 15rem;
}

.header_empty_space {
    margin: auto;
}

.header_profile_image{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    float: right;
    margin: auto 0.25rem;
}




/*MAIN section*/
main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
}


/*SIDEBAR section*/
.sidebar { 
    background: green;
    width: 15rem;
    display: flex;
    flex-direction: column;
}

.sidebar_row {
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.sidebar_searchbar {
    background: lightseagreen;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar_searchbar input {
    background: yellow;
    margin: 0 0.2rem;
    margin-right: 0.4rem;
    padding: 0.2rem;
    flex-grow: 1;
}

.sidebar_searchbar i {
    background: orange;
    font-size: 1.25rem;
    margin-left: -1.9rem;
    margin-right: 0.4rem;
}

#check{
    display: none;
}

.sidebar_btn {
    background: lightcoral;
    width: 2rem;
}

.hide_sidebar_btn {
    background: pink;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*ARTICLE section*/
article {
    background: red;
    flex-grow: 1;
}