.equal-height-container {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-size: 40px;
}

.row {
    padding: 1px 2px;
    flex: 1;
    display: flex;
}

.field {
    margin: 4px;
    padding: 2em 3em;
    text-align: center;
    color: rgb(51, 51, 51);
    background-color: lightgray;
}