body {
    font-size: 20px;
}

.main {
    max-width: 900px;
    margin: 2em auto 2em auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    align-items: center;
}

.row {
    padding: 1px 2px;
    flex: 1;
    display: flex;
}

.field {
    margin: 0.1em;
    padding: 2em 3em;
    text-align: center;
    color: #333333;
    background-color: #d3d3d3;
}