/*=====================================================*/
/*                                                     */
/*                                                     */
/*                  COLORS section                     */
/*                                                     */
/*                                                     */
/*=====================================================*/
.red-background {
    background: red;
}

.green-background {
    background: green;
}

.blue-background {
    
    background: blue;
}

.orange-background {
    background: orange;
}

.white-background {
    background: white;
}