/*=====================================================*/
/*                                                     */
/*                                                     */
/*             BACKGROUND COLORS  section              */
/*                                                     */
/*                                                     */
/*=====================================================*/
.red-background {
    background: red;
}

.orange-background {
    background: orange;
}

.yellow-background {
    background: rgb(235, 235, 0);
}

.green-background {
    background: green;
}

.lightblue-background {
    background: lightblue;
}

.blue-background {
    background: blue;
}

.purple-background {
    background: purple;
}

.white-background {
    background: white;
}


/*=====================================================*/
/*                                                     */
/*              SLAVA's Colors  section                */
/*                                                     */
/*=====================================================*/
.glorious-red-bg {
    background: #FF5F5F;
}

.glorious-green-bg {
    background: #00D248;
}

.glorious-blue-bg {
    background: #5FA8FF;
}

.glorious-orange-bg {
    background: #FFA031;
}