/*=====================================================*/
/*                                                     */
/*                                                     */
/*                  COLORS section                     */
/*                                                     */
/*                                                     */
/*=====================================================*/
.red-background {
    background: red;
}

.orange-background {
    background: orange;
}

.yellow-background {
    background: yellow;
}

.green-background {
    background: green;
}

.lightblue-background {
    background: lightblue;
}

.blue-background {
    background: blue;
}

.purple-background {
    background: purple;
}

.white-background {
    background: white;
}