/*=====================================================*/
/*                                                     */
/*                                                     */
/*             STYLES COLLECTION section               */
/*                                                     */
/*                                                     */
/*=====================================================*/
.btn {
    border-width: 1px;
    border-radius: 0.25rem;
    outline: none;
    cursor: pointer;
}

.small-btn {
    font-size: 1 rem;
    line-height: 1.25rem;
    padding: 0.25rem 1.25rem;
}

.medium-btn {
    font-size: 1.25rem;
    line-height: 1.25rem;
    padding: 0.5rem 1.75rem;
}

.light-btn {
    color: #3914AF;
    border-color: #6F47EB;
    background-color: #FFFFFF;
}

.light-btn:hover {
    background-color: #F0F0FF;
}

.light-btn:active {
    border-color: #B9A5F5;
    background-color: #F0F0FF;
}

.dark-btn {
    color: #FFFFFF;
    background-color: #3914AF;
    border-color: #3914AF;
}

.dark-btn:hover {
    background-color: #6F47EB;
    border-color: #6F47EB;
}

.dark-btn:active {
    background-color: #4F1EE5;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}