* {
    margin: 0;
    padding: 0;
}

html {
    background: white;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

html {
    display: flex;
    height: 100%;
    /* background: brown; */
}

body {
    width: 100%;
    /* background: black; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}





/*=====================================================*/
/*                                                     */
/*                                                     */
/*                  HEADER section                     */
/*                                                     */
/*                                                     */
/*=====================================================*/
header {
    background: blue;
    text-align: center;
    display: flex;
    flex-direction: row;
    height: 3rem;
}

.header-company-name {
    margin: auto 0;
    width: 15rem;
    color: white;
}

.header-empty-space {
    margin: auto;
}

.header-profile-image{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    float: right;
    margin: auto 0.25rem;
}





/*=====================================================*/
/*                                                     */
/*                                                     */
/*                    MAIN section                     */
/*                                                     */
/*                                                     */
/*=====================================================*/
main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}


/*===============================================*/
/*                                               */
/*                  SIDEBAR section              */
/*                                               */
/*===============================================*/
.sidebar { 
    background: #FFFFFF;
    min-width: 15rem;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    transition-property: width;
    border-right: 2px solid #6F47EB;
    height: 100%;
}

.sidebar-row {
    height: 3rem;
    display: flex;
    flex-direction: row;
}

/*===============================================*/
/*               SIDEBAR first row               */
/*===============================================*/
.sidebar-row:first-child {
    justify-content: flex-end;
    height: 3rem;
    display: flex;
    align-items: center;
}

.sidebar-searchbox {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.8rem;
    padding: 0.1rem;
}

.sidebar-searchbox input {
    background: #ece6ff;
    border: none;
    outline: none;
    line-height: 1.95rem;
    width: 0;
    transition: all 0.5s;
    border-radius: 1rem 0 0 1rem;
    margin-right: -1rem;
    padding-right: 1rem;
}

.sidebar-searchbox:hover input {
    width: 100%;
    padding: 0 0.5rem;
}

.sidebar-searchbox input:focus {
    width: 100%;
    padding: 0 0.5rem;
    padding-right: 1.25rem;
}

.search-btn {
    background: white;
    border-color: blue;
    border-width: 1.5px;
    outline: none;
    cursor: pointer;
    min-width: 2rem;
    font-size: 1.7rem;
    border-radius: 2rem;
    color: blue;
}

.sidebar-btn {
    /* background: lightcoral; */
    width: 3rem;
}

.hide-sidebar-btn {
    border: none;
    outline: none;
    cursor: pointer;
    /* background: pink; */
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(185, 0, 185);
}

/*===============================================*/
/*               SIDEBAR other rows              */
/*===============================================*/
/* .sidebar div {
    background: orange;
} */

.sidebar div a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    /* background: yellow; */
    flex-grow: 1;
}

.sidebar div a i {
    width: 3rem;
    /* background: red; */
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: rgb(60, 60, 60);
}

.sidebar div a span {
    /* background: pink; */
    font-size: 1.5rem;
    /* padding-left: 1rem; */
    color: rgb(60, 60, 60);
}

.sidebar div a:hover i {
    color: rgb(120, 120, 120);
}

.sidebar div a:hover {
    background: rgb(240, 240, 240);    
}

#check:checked ~ .sidebar .sidebar-row .sidebar-searchbox,
#check:checked ~ .sidebar .sidebar-row a span {
    display: none;
}

#check:checked ~ .sidebar {
    width: 3rem;
}

#check:checked ~ .sidebar div a:hover {
    background: white;
}

.do-not-display {
    display: none;
}