/*=====================================================*/
/*                                                     */
/*                                                     */
/*                  ARTICLE section                    */
/*                                                     */
/*                                                     */
/*=====================================================*/
article {
    /* background: red; */
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.article-scrollable-container {
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    overflow-y: auto;
    width: 100%;
}





/*=====================================================*/
/*                                                     */
/*                                                     */
/*             EXTERNAL FILES section                  */
/*                                                     */
/*                                                     */
/*=====================================================*/
.article-section,
.article-section-header,
.article-section-row,
.article-section-content,
.content-row,
.content-container {
    width: 100%;
    min-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.article-section {
    /* background: red; */
    flex-direction: column;
}

.article-section-header {
    /* background: green; */
    font-size: 2rem;
    height: 5rem;
    color: white;
}

.article-section-row {
    /* background: green; */
    align-items: stretch;
}

.article-section-vertical-line {
    /* background: green; */
    width: 0.25rem;
}

.article-section-horizontal-line {
    /* background: green; */
    height: 0.25rem;
    width: 100%;
}

.article-section-content {
    flex-direction: column;
}

.content-row {
    /* background: red; */
    min-height: 2rem;
    align-items: stretch;
}

.content-horizontal-line {
    background: lightgrey;
    width: 100%;
    min-height: 0.25rem;
}

.content-vertical-line {
    background: lightgray;
    min-width: 0.25rem;
}

/* .content-container {
    background: yellow;
} */

.content-header {
    background: rgb(173, 173, 173);
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}

.content-item,
.content-item-header {
    /* background: blue; */
    flex: 1;
} 

.content-html,
.content-html-header {
    /* background: green; */
    flex: 2;
}

.content-classes,
.content-classes-header {
    /* background:red; */
    flex: 1;
}

.content-html,
.content-html ~ span {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.content-html > span {
    pointer-events: none;
}

.content-html,
.content-classes {
    cursor: pointer;
    position: relative;
}

.content-classes:after {
    content: "Скопировать в буфер обмена";
    align-self: flex-start;
    position: absolute;
    visibility: hidden;
    z-index: 1;
    width: 15rem;
    min-height: 1rem;
    color: white;
    text-align: center;
    background: rgba(0,0,0,0.75);
    padding: 0.75rem;
    border-radius: 0.25rem;
    margin-top: -3rem;
}

.content-classes:hover:after {
    visibility: visible;
}

/*=====================================================*/
/*                                                     */
/*                                                     */
/*                 SERVICE section                     */
/*                                                     */
/*                                                     */
/*=====================================================*/
.additional-height {
    min-height: 5rem;
}

.justify-start {
    justify-content: start;
}