/*=====================================================*/
/*                                                     */
/*                                                     */
/*             STYLES COLLECTION section               */
/*                                                     */
/*                                                     */
/*=====================================================*/



/*=====================================================*/
/*                                                     */
/*               PUSHBUTTONS section                   */
/*                                                     */
/*=====================================================*/
.push-btn {
    border-width: 1px;
    border-radius: 0.25rem;
    outline: none;
    cursor: pointer;
}

.small-btn {
    font-size: 1 rem;
    line-height: 1.25rem;
    padding: 0.25rem 1.25rem;
}

.medium-btn {
    font-size: 1.25rem;
    line-height: 1.25rem;
    padding: 0.5rem 1.75rem;
}

.light-btn {
    color: #3914AF;
    border-color: #6F47EB;
    background-color: #FFFFFF;
}

.light-btn:hover {
    background-color: #F0F0FF;
}

.light-btn:active {
    border-color: #B9A5F5;
    background-color: #F0F0FF;
}

.dark-btn {
    color: #FFFFFF;
    background-color: #3914AF;
    border-color: #3914AF;
}

.dark-btn:hover {
    background-color: #6F47EB;
    border-color: #6F47EB;
    box-shadow: 0px 0px 4px rgba(57, 20, 175, 0.25);
}

.dark-btn:active {
    background-color: #4F1EE5;
    box-shadow: 0px 0px 4px rgba(57, 20, 175, 0.25);
}



/*=====================================================*/
/*                                                     */
/*                DISABLED section                     */
/*                                                     */
/*=====================================================*/
.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}



/*=====================================================*/
/*                                                     */
/*              TEXT BUTTONS section                   */
/*                                                     */
/*=====================================================*/
.text-btn {
    cursor: pointer;
    outline: none;
    border-width: 0;
    border-radius: 0.25rem;
    color: #3914AF;
    background: #FFFFFF;
    font-weight: 600;
}

.text-btn:hover {
    background: #F0F0FF;
    box-shadow: 0px 0px 4px rgba(66, 18, 224, 0.25);
}

.text-btn:active {
    background-color: #E0E0FF;
    box-shadow: 0px 0px 4px rgba(66, 18, 224, 0.25);
}


/*=====================================================*/
/*                                                     */
/*             TOGGLE BUTTONS section                  */
/*                                                     */
/*=====================================================*/
.square-toggle-btn,
.round-toggle-btn {
    /* background: orange; */
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2.125rem;
}

.square-toggle-btn span,
.round-toggle-btn span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #cccccc;
    transition: 0.4s;
}

.square-toggle-btn span::before,
.round-toggle-btn span::before {
    position: absolute;
    content: "";
    height: 1.625rem;
    width: 1.625rem;
    left: 0.25rem;
    bottom: 0.25rem;
    background-color: white;
    transition: 0.4s;
}

.square-toggle-btn input:checked + span,
.round-toggle-btn input:checked + span {
    background-color: #2196F3;
}

.square-toggle-btn input:focus + span,
.round-toggle-btn input:focus + span {
    box-shadow: 0 0 1px #2196F3;
}

.square-toggle-btn input:checked + span::before,
.round-toggle-btn input:checked + span::before {
    transform: translateX(1.875rem);
}

.round-toggle-btn span {
    border-radius: 2.125rem;
}

.round-toggle-btn span::before {
    border-radius: 50%;
}



/*=====================================================*/
/*                                                     */
/*              RADIO BUTTONS section                  */
/*                                                     */
/*=====================================================*/
.radio-btn-container {
    /* background: red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}